/*Navigasi*/
#logo{
    width: 50px;
	height: 61px;
	margin-left:0px;
	mergin-right:0px;
	float:left;
}

#nama_logo{
	float:left;
    padding: 20px 17px 17px 0px;
	font-size: 20px;
	color: black;
	font-weight: bold;
}

ul.menu {
	width:93%;
    list-style-type: none;
    margin: 0;
    padding-right: 3%;
    overflow: hidden;
    background-color: #00ff00;
	border-radius: 2px;
	position:fixed;
}

ul.menu li {
    float: right;
}

ul.menu li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px 17px 17px ;
    text-decoration: none;
    font-size: 20px;
	font-weight: bold;
    border-bottom: 2px solid #00ff00;
}

ul.menu li a:hover {
    color: #066A19;
    background-color: white;
    border-bottom: 2px solid #066A19;
}
#masuk{
	margin-left:210px
}
/*beranda section*/
.beranda {
	padding-top:6.5%;
	width:100%;
	margin-left: auto;
	margin-right: auto;
}
#besar{
	margin-top:1%;
	width: 86%;
	border: 1px solid black;
}
#kecil{
	float: right;
    width: 23%;
	height: 23%;
    padding-right: 7%;
}
.judul{
	width:90%;
	text-align: left;
	padding-left: 7%;
	font-weight: bold;
	font-Size: 25px;
	
}
.isi {
	width: 58%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	font-size: 20px;
	padding-left: 7%;
}
/*tentang section*/
.tentang{
	margin-top: 7.1%;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 5%;
	padding-bottom: 0.5%;
}
#sejarah{
	float: right;
    width: 450px;
	height: 450px;
	padding-top: 1%;
    padding-right: 2%;
}
.judul2{
	background-color: #B3B3B3;
	width:90%;
	text-align: center;
	font-weight: bold;
	font-Size: 25px;
	padding-left:3%;
	padding-right:7%;
}
.isi2 {
	width: 53%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	font-size: 20px;
	padding-left: 3%;
}
/*layanan section*/
.layanan{
	margin-left: 5%;
	margin-top: 0%;
	padding-top:5.4%;
	padding-bottom: 0.5%;
}
.judul3{
	background-color: #00ff00;
	width:89.8%;
	text-align: center;
	font-weight: bold;
	font-Size: 25px;
	padding-left:3%;
	padding-right:2%;
}
.gambar {
	background-color: #e6fff2;
    width: 29%;
	margin:1.3%;
    text-align: center;
    float: left;
	padding-top: 1%;
}
.gambar img {
    width: 50%;
}
.gambar h2{
	color: #066A19;
	font-size: 20px;
	text-decoration: none;
}
.gambar h3{
	font-size: 15px;
	text-decoration: none;
}
.gambar2 {
    width: 29%;
	margin:1.3%;
    text-align: center;
    float: left;
	padding-top: 1%;
}
.gambar2 img {
    width: 50%;
}
.gambar2 h2{
	color: #066A19;
	font-size: 20px;
	text-decoration: none;
}
.gambar2 h3{
	font-size: 15px;
	text-decoration: none;
}
/*kontak section*/
.kontak{
	margin-top: 49.8%;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 5.4%;
	padding-bottom: 36%;
}
.kontak #judul{
	background-color: #B3B3B3;
	text-align: center;
	font-size: 25px;
}
.kontak #judul2{
	text-align:right;
	padding-right:4%
}
label2{
	font-family: Times New Roman;
	padding-left:7%;
}
label{
	color:#000000;
	font-family: Times New Roman;
	font-weight: bold;
}
footer{
	margin-top:6%;
	padding-left:35px;
	border-top: 1px solid #000000;
	position: bottom;
	color:#066A19;
}