/* Navbar */
.menu li img {
    width: 45px;
    padding: 3px 30px 0px 35px;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00ff00;
    
}

ul.menu li {
    float: left;
}

ul.menu li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px 16px 17px;
    text-decoration: none;
    font-size: 20px;
	font-weight: bold;
    border-bottom: 2px solid #00ff00;
}

ul.menu li a:hover {
    color: #066A19;
    background-color: white;
    border-bottom: 2px solid #066A19;
}

ul.menu li.icon {
    display: none;
}

@media screen and (max-width:786px) {

    ul.menu li:not(:first-child),
    ul.menu.responsive li img {
        display: none;
    }

    ul.menu li.icon {
        float: right;
        display: inline-block;
    }

    ul.menu.responsive {
        position: relative;
    }

    ul.menu.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.menu.responsive li {
        float: none;
        display: inline;
    }

    ul.menu li a {
        display: block;
        text-align: left;
    }
}
#logo
  {
	height: 150px;
  }
h1
  {
	font-weight: bold;
	font-size: 25px;
	color: #066A19
  }
table{
	font-size: 15px;}
footer{
	margin-top:15%;
	padding-top:1%;
	padding-left:35px;
	border-top: 1px solid #000000;
	position: bottom;
	color:#066A19;